* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  font-family: Arial, Helvetica, sans-serif;
  height: 100vh;
}
.cabecera {
  height: 6em;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1em 5em;
  background-color: rgb(46, 184, 46);
  color: #fff;
}

.logo {
  font-size: 3rem;
}

.item {
  text-decoration: none;
  color: #fff;
  padding-left: 1em;
}

.container__principal {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 3em;

  padding-bottom: 3em;
}

.progresBar {
  height: 0.7em;
  width: 0%;
  position: fixed;
  top: 6em;
  background-color: #86097c;
  transition: width 0.3s ease-in-out;
}

.container {
  width: 60%;
  text-align: left;
  margin: 0 auto;
  border: 2px solid rgba(46, 184, 46, 0.2);
}

.first_container {
  margin-top: 9em;
}

.container__div {
  display: flex;
  align-items: center;
  padding: 0.7em 0;
  padding-left: 1em;

  color: #fff;
  gap: 1em;

  background-color: rgb(46, 184, 46);
}
.div-text {
  padding: 1em 2em;
}
.paragraph {
  width: 50%;
  margin: 1em 0;
  color: black;
}

.btn-info {
  text-decoration: none;
  color: #fff;
  display: inline-block;
  padding: 0.9em 1.5em;
  border-radius: 0.6em;
  background-color: rgb(46, 184, 46);
}

.footer {
  color: blueviolet;
  position: relative;
  bottom: 0;
  left: 0;
  right: 0;
  height: 8em;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #928e8e;
}
